@charset "UTF-8";

.clearfix:after {
  content: "";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address,
del, em, img, small, strong, b, u, i, hr,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
button,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  word-wrap: break-word;
}

html {
  font-size: 62.5%;
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: inherit;
  font-weight: inherit;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

a img {
  border: none;
}

article, aside, details, figure, footer, header, menu, nav, section, summary {
  display: block;
}

body {
  font-family: "Roboto Slab", Garamond, "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", meiryo, serif !important;
  color: #000;
  font-size: 1.4rem;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #e6437b;
  text-decoration: none;
}

a:hover img {
  opacity: 0.8;
}

a:focus {
  color: #e6437b;
  text-decoration: none;
}

p, h1, h2, h3, h4, h5, h5, h6 {
  line-height: 1.5;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

li, ol {
  list-style: none;
}

button:focus, input:focus, a:focus {
  outline: none;
}

/*------------------- Wraper -------------------*/
.wrapper {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.container {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}

/*------------------- Component -------------------*/
.title_h2 {
  letter-spacing: -1px;
  font-size: 4rem;
  line-height: 1.4;
  color: #535353;
}

.title_h2 span {
  font-size: 2.8rem;
}

.text {
  font-weight: bold;
  color: #e6437b;
  font-size: 1.8rem;
  text-align: center;
  line-height: 1.8;
}

.text .highlight {
  font-size: 2.3rem;
}

.btn {
  width: 51.4rem;
  margin: 0 auto;
  text-align: center;
}

/*------------------- List -------------------*/
.listItems {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

/*  Header
------------------------------------*/
.header {
  position: relative;
  z-index: 999;
}

.header_in {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.9rem 0;
}

.header_in.stick {
  opacity: 0;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  background: #ffffff;
  right: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  z-index: -1;
}

.header_in.stick.active {
  z-index: 1;
  opacity: 1;
}

.header_wrap_stick {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_logo {
  width: 18.7rem;
}

.header_btn {
  width: 47.4rem;
  text-align: right;
  color: #e40d55;
  font-size: 1.6rem;
  font-weight: bold;
  text-decoration: underline;
}

/*  local_mv
------------------------------------*/
.local_mv {
  background: url("../images/bg_mv_01.jpg") no-repeat top center;
  background-size: cover;
}

.local_mv.bg_02 {
  background: url("../images/bg_mv_02.jpg") no-repeat top center;
  background-size: cover;
}

.local_mv_in {
  position: relative;
  height: 55rem;
}

.local_mv_title {
  z-index: 9;
  position: absolute;
  top: 2rem;
  right: -4.4rem;
  width: 60rem;
  text-align: center;
  font-size: 0.95rem;
}

.local_mv_title h2 {
  margin-top: 3.8rem;
}

.local_mv_title p {
  padding-top: 1.7rem;
}

.local_mv_ico {
  position: absolute;
  left: -4.4rem;
  bottom: 2.4rem;
  width: 15.1rem;
}

.local_mv_btn {
  position: absolute;
  right: 0;
  width: 48rem;
  bottom: 6.8rem;
}

/*  local_description
------------------------------------*/
.local_description {
  padding: 11rem 0;
}

/*  local_01
------------------------------------*/
.local_01 {
  background: #ffe6f3;
  padding: 5rem 0 8.4rem;
  background: url("../images/bg_gradient.png") no-repeat center bottom #ffe6f3;
}

.local_01_box {
  background: rgba(255, 255, 255, 0.25);
  position: relative;
  z-index: 9;
  border: 2px dotted #e52f6b;
}

.local_01_box.box_01 {
  width: 76.7rem;
  margin-left: 5.5rem;
}

.local_01_box.box_01 .title_h2 {
  margin-left: -4.5rem;
  margin-top: -0.7rem;
}

.local_01_box.box_02 {
  margin-top: 5.2rem;
  width: 79rem;
  float: right;
}

.local_01_box:before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  background: url("../images/bg_title_box.jpg");
  width: 12.9rem;
  height: 13.9rem;
  z-index: -1;
}

.local_01_box .text {
  padding: 3rem 9rem 3.2rem;
  text-shadow: 1px 1px 5px #fff;
}

.local_01 .btn {
  padding-top: 8rem;
}

/*  local_02
------------------------------------*/
.local_02 {
  background: #ffe6f3;
}

.local_02_top {
  background: url("../images/bg_center.jpg") no-repeat center top;
  background-size: contain;
  height: 45rem;
  text-align: center;
  padding-top: 8.8rem;
}

.local_02_in {
  padding: 9rem 0 8rem;
}

.local_02_in .text {
  text-shadow: 1px 1px 5px #fff;
  color: #e6437b;
}

.local_02_in .text .highlight {
  color: #e6437b;
}

.local_02 .is_pc {
  display: inline;
}

.local_02_title_price {
  margin-top: -6rem;
  text-align: center;
}

.local_02_title_price li {
  padding-top: 3.2rem;
}

.local_02 .txt_note {
  padding: 1rem 0 3.5rem;
  font-size: 1.3rem;
  color: #e52f6b;
  text-shadow: 1px 1px 5px #fff;
}

.local_02 .btn {
  padding-top: 8rem;
}

/*  local_03
------------------------------------*/
.local_03 {
  background: #fefae8;
  padding: 8.3rem 0 7rem;
}

.local_03 .title_h2 {
  text-align: center;
  padding-bottom: 6.5rem;
}

.local_03_items {
  position: relative;
  margin-bottom: 6.8rem;
}

.local_03_items .title_h3 {
  padding-bottom: 3rem;
}

.local_03_items .thumb_img {
  position: absolute;
  top: 0;
}

.local_03_items .thumb_img ul {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.local_03_items .thumb_img ul li {
  width: calc((100% / 3) - 1rem);
}

.local_03_items .thumb_img ul li:nth-child(-n+3) {
  margin-bottom: 1.5rem;
}

.local_03_items .content {
  padding-left: 2rem;
  text-align: center;
  width: 100%;
  max-width: 45.5rem;
}

.local_03_items .content .text {
  font-size: 1.8rem;
  color: #535353;
}

.local_03_items.odd {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  min-height: 34.2rem;
}

.local_03_items.odd .thumb_img {
  max-width: 52.5rem;
  left: 0;
}

.local_03_items.odd .content {
  padding-top: 3.7rem;
  max-width: 43.5rem;
}

.local_03_items.last .content {
  padding-top: 2.2rem;
}

.local_03_items.even {
  min-height: 31.3rem;
}

.local_03_items.even .thumb_img {
  right: 0;
  width: 52.8%;
  max-width: 50.8rem;
}

.local_03_items.even .content {
  padding-top: 4.5rem;
  width: 47.2%;
  padding-right: 2rem;
}

.local_03 .btn {
  margin-top: 6.3rem;
}

/*  local_05
------------------------------------*/
.local_04 {
  padding: 7rem 0 1rem;
}

.local_04 .title_h2 {
  font-weight: bold;
  text-align: center;
}

.local_04 .title_h2.first {
  text-align: center;
  color: #e6437b;
  padding-bottom: 2rem;
  font-size: 3.5rem;
}

.local_04_listCircle {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 6rem;
}

.local_04_itemsCircle {
  position: relative;
  width: 33.3%;
  padding: 0 3.45rem;
}

.local_04_itemsCircle:first-child:after, .local_04_itemsCircle:nth-child(2):after, .local_04_itemsCircle:nth-child(4):after {
  content: "";
  background: url("../images/arrow_right_circle.png") no-repeat;
  background-size: contain;
  position: absolute;
  top: 26%;
  right: -2rem;
  width: 4.3rem;
  height: 4.2rem;
}

.local_04_itemsCircle:nth-last-child(-n+2) {
  margin-top: -1rem;
}

.local_04 .btn {
  padding-top: 4.2rem;
}

/*  Footer
------------------------------------*/
.footer {
  text-align: center;
}

.footer p {
  padding: 1.5rem 0 2.5rem;
  font-size: 1.4rem;
  color: #939393;
  border-top: 1px solid #707070;
}

.footer_logo {
  padding-bottom: 1rem;
}

/*  Helper
------------------------------------*/
.is_pc {
  display: block;
}

.is_sp {
  display: none;
}

.is_hidden {
  display: none;
}

.tar {
  text-align: right;
}

.tal {
  text-align: left;
}

.tac {
  text-align: center;
}

.float_left {
  float: left !important;
}

.float_right {
  float: right !important;
}

.border-0 {
  border: 0 !important;
}

@media only screen and (max-width: 1110px) {
  .local_mv_ico {
    left: 1rem;
  }
}

@media only screen and (max-width: 970px) {
  .local_04_itemsCircle {
    width: 29rem;
  }
}

@media only screen and (max-width: 960px) {
  html {
    font-size: 1.041vw;
  }
  .container {
    padding: 0 2.5rem;
  }
  .header_in.stick {
    padding: 0.5rem 1.2rem 0.5rem 3rem;
  }
  .local_03_items.odd {
    min-height: 31.5rem;
  }
  .local_03_items.odd .thumb_img {
    max-width: 48.5rem;
  }
  .local_03_items.odd .content {
    max-width: 40rem;
  }
  .local_03_items.even {
    min-height: 29.4rem;
  }
}

@media only screen and (max-width: 640px) {
  html {
    font-size: 1.5625vw;
  }
  .container {
    padding: 0 3rem;
  }
  .title_h2 {
    font-size: 4.2rem;
  }

  .title_h2 span {
    font-size: 3.2rem;
  }
  .btn {
    width: 100%;
  }
  .header .container {
    padding: 0 1.2rem 0 3rem;
  }
  .header_logo {
    width: 20rem;
  }
  .header_btn {
    padding-left: 2rem;
    width: 40rem;
  }
  .local_mv {
    background: url("../images/bg_mv_01_sp.jpg") no-repeat top center;
    background-size: cover;
  }

  .local_mv.bg_02 {
    background: url("../images/bg_mv_02_sp.jpg") no-repeat top center;
    background-size: cover;
  }

  .local_mv.bg_02 .local_mv_title {
    top: 10%;
  }
  .local_mv_in {
    height: 69.3rem;
  }
  .local_mv_title {
    width: 34rem;
    top: -1rem;
    right: -3.5rem;
  }
  .local_mv_title h2 {
    margin-top: 5.2rem;
  }
  .local_mv_ico {
    width: 28%;
    left: 25%;
    right: inherit;
    bottom: 21%;
  }
  .local_mv_btn {
    right: 0;
    bottom: 2.8rem;
    margin: 0 auto;
    width: 100%;
  }
  .local_description {
    padding: 5rem 0 4rem;
  }
  .local_description .title_h2 {
    font-weight: bold;
  }
  .local_01 {
    padding: 2.3rem 0 4.4rem;
    background: url("../images/bg_gradient_sp.png") no-repeat center bottom #ffe6f3;
  }
  .local_01_box {
    border: 0;
  }
  .local_01_box.box_01 {
    padding-top: 1.7em;
    width: 100%;
    margin-left: 0;
  }
  .local_01_box.box_01 .title_h2 {
    margin-left: 0;
  }
  .local_01_box.box_02 {
    padding-top: 2.2rem;
    width: 100%;
    margin-top: 3rem;
  }
  .local_01_box:before {
    display: none;
  }
  .local_01_box .text {
    padding: 3rem 2rem 3.2rem;
  }
  .local_01 .btn {
    padding-top: 4rem;
  }
  .local_02_top {
    background: url("../images/bg_center_sp.jpg") no-repeat center top;
    background-size: contain;
    padding-top: 4.5rem;
    height: 48rem;
  }
  .local_02_in {
    padding: 6rem 0 4rem;
  }
  .local_02_in .text {
    color: #535353;
  }
  .local_02 .is_pc {
    display: none;
  }
  .local_02 .is_sp {
    display: inline;
  }
  .local_02 .btn {
    padding-top: 3rem;
  }
  .local_03 {
    padding: 4rem 0 5.4rem;
  }
  .local_03 .title_h2 {
    padding-bottom: 4rem;
  }
  .local_03_items .thumb_img {
    position: relative;
  }
  .local_03_items .content .text {
    font-size: 2.3rem;
    padding: 2rem 2.8rem 0;
  }
  .local_03_items.odd {
    min-height: auto;
  }
  .local_03_items.odd .thumb_img {
    position: relative;
    max-width: 100%;
    padding: 0 2.8rem;
  }
  .local_03_items.odd .content {
    padding: 0;
  }
  .local_03_items.even {
    min-height: auto;
  }
  .local_03_items.even .content {
    padding: 0;
  }
  .local_03_items .thumb_img {
    max-width: 100% !important;
    width: 100% !important;
    text-align: center;
  }

  .local_03_items .content {
    margin-top: 1rem;
    max-width: 100% !important;
    width: 100% !important;
  }
  .local_04 .title_h2.first {
    font-size: 3rem;
  }
  .local_04_listCircle {
    padding-bottom: 0;
  }
  .local_04_itemsCircle {
    padding: 0;
  }
  .local_04_itemsCircle:first-child:after, .local_04_itemsCircle:nth-child(2):after, .local_04_itemsCircle:nth-child(4):after {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    top: inherit;
    left: 21%;
    right: 0;
    bottom: 5%;
    text-align: center;
    width: 3.6rem;
  }
  .local_04_itemsCircle:nth-child(3):after {
    content: "";
    background: url("../images/arrow_right_circle.png") no-repeat;
    background-size: contain;
    position: absolute;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    left: 21%;
    right: 0;
    bottom: 5%;
    text-align: center;
    width: 3.6rem;
    height: 4.2rem;
  }
  .local_04_itemsCircle:nth-last-child(-n+2) {
    margin-top: 0;
  }
  .local_04_itemsCircle {
    width: 100%;
    text-align: center;
    padding-bottom: 5rem;
  }

  .local_04_itemsCircle:not(:last-child) {
    padding-bottom: 7.3rem;
  }
  .footer p {
    font-size: 2.5rem;
  }
  .is_pc {
    display: none;
  }
  .is_sp {
    display: block;
  }
}

@media only screen and (max-width: 640px) and (max-width: 640px) {
  .local_mv.bg_02 .local_mv_ico {
    width: 38%;
    left: inherit;
    right: -1rem;
    bottom: 25%;
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
