/*  Footer
------------------------------------*/
.footer {
    text-align: center;
    p {
        padding: 1.5rem 0 2.5rem;
        font-size: 1.4rem;
        color: #939393;
        border-top: 1px solid #707070;
        @include mqSm {
            font-size: 2.5rem;
        };
    }
    &_logo {
        padding-bottom: 1rem;
    }
}
