/*  Header
------------------------------------*/
.header {
    position: relative;
    z-index: 999;
    .container {
        @include mqSm {
            padding: 0 1.2rem 0 3rem;
        };
    }
    &_in {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.9rem 0;
        &.first_view {
            // visibility: hidden;
        }
        &.stick {
            opacity: 0;
            margin: 0 auto;
            position: fixed;
            top: 0;
            left: 0;
            background: $color-a;
            right: 0;
            transition: all 0.3s;
            z-index: -1;
            @include mqMd {
                padding: 0.5rem 1.2rem 0.5rem 3rem;
            };
            &.active {
                z-index: 1;
                opacity: 1;
            }
        }
    }
    &_wrap_stick {
        max-width: 960px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        // display: none;
    }
    &_logo {
        width: 18.7rem;
        @include mqSm {
            width: 20rem;
        };
    }
    &_btn {
        width: 47.4rem;
        text-align: right;
        color: #e40d55;
        font-size: 1.6rem;
        font-weight: bold;
        text-decoration: underline;
        @include mqSm {
            padding-left: 2rem;
            width: 40rem;
        };
    }
}
