/*  local_mv
------------------------------------*/
.local_mv {
    background: url('../images/bg_mv_01.jpg') no-repeat top center;
    background-size: cover;
    &.bg_02 {
        background: url('../images/bg_mv_02.jpg') no-repeat top center;
        background-size: cover;
    }
    @include mqSm {
        background: url('../images/bg_mv_01_sp.jpg') no-repeat top center;
        background-size: cover;
        &.bg_02 {
            background: url('../images/bg_mv_02_sp.jpg') no-repeat top center;
            background-size: cover;
            .local_mv_title {
                top: 10%;
            }
            .local_mv_ico {
                @include mqSm {
                    width: 38%;
                    left: inherit;
                    right: -1rem;
                    bottom: 25%;
                    transform: rotate(0deg);
                };
            }
        }
    };
    &_in {
        position: relative;
        height: 55rem;
        @include mqSm {
            height: 69.3rem;
        };
    }
    &_title {
        z-index: 9;
        position: absolute;
        top: 2rem;
        right: -4.4rem;
        width: 60rem;
        text-align: center;
        font-size: 0.95rem;
        @include mqSm {
            width: 34rem;
            top: -1rem;
            right: -3.5rem;
        };
        h2 {
            margin-top: 3.8rem;
            @include mqSm {
                margin-top: 5.2rem;
            };
        }
        p {
            padding-top: 1.7rem;
        }
    }
    &_ico {
        position: absolute;
        left: -4.4rem;
        bottom: 2.4rem;
        width: 15.1rem;
        @include mqLg {
            left: 1rem;
        };
        @include mqSm {
            width: 28%;
            left: 25%;
            right: inherit;
            bottom: 21%;
        };
    }
    &_btn {
        position: absolute;
        right: 0;
        width: 48rem;
        bottom: 6.8rem;
        @include mqSm {
            right: 0;
            bottom: 2.8rem;
            margin: 0 auto;
            width: 100%;
        };
    }
}
/*  local_description
------------------------------------*/
.local_description {
    padding: 11rem 0;
    @include mqSm {
        padding: 5rem 0 4rem;
    };
    .title_h2 {
        @include mqSm {
            font-weight: bold;
        };
    }
}
/*  local_01
------------------------------------*/
.local_01 {
    background: #ffe6f3;
    padding: 5rem 0 8.4rem;
    background: url('../images/bg_gradient.png') no-repeat center bottom $pink;
    @include mqSm {
        padding: 2.3rem 0 4.4rem;
        background: url('../images/bg_gradient_sp.png') no-repeat center bottom $pink;
    };
    &_box {
        background: rgba(255,255,255,0.25);
        position: relative;
        z-index: 9;
        border: 2px dotted #e52f6b;
        @include mqSm {
            border: 0;
        };
        &.box_01 {
            width: 76.7rem;
            margin-left: 5.5rem;
            @include mqSm {
                padding-top: 1.7em;
                width: 100%;
                margin-left: 0;
            };
            .title_h2 {
                margin-left: -4.5rem;
                margin-top: -0.7rem;
                @include mqSm {
                    margin-left: 0;
                };
            }
        }
        &.box_02 {
            margin-top: 5.2rem;
            width: 79rem;
            float: right;
            @include mqSm {
                padding-top: 2.2rem;
                width: 100%;
                margin-top: 3rem;
            };
        }
        &:before {
            content: "";
            position: absolute;
            top: -2px;
            left: -2px;
            background: url('../images/bg_title_box.jpg');
            width: 12.9rem;
            height: 13.9rem;
            z-index: -1;
            @include mqSm {
                display: none;
            };
        }
        .text {
            padding: 3rem 9rem 3.2rem;
            @include textShadow;
            @include mqSm {
                padding: 3rem 2rem 3.2rem;
            };
        }
    }
    .btn {
        padding-top: 8rem;
        @include mqSm {
            padding-top: 4rem;
        };
    }
}
/*  local_02
------------------------------------*/
.local_02 {
    background: #ffe6f3;
    &_top {
        background: url('../images/bg_center.jpg') no-repeat center top;
        background-size: contain;
        height: 45rem;
        text-align: center;
        padding-top: 8.8rem;
        @include mqSm {
            background: url('../images/bg_center_sp.jpg') no-repeat center top;
            background-size: contain;
            padding-top: 4.5rem;
            height: 48rem;
        }
    }
    &_in {
        padding: 9rem 0 8rem;
        @include mqSm {
            padding: 6rem 0 4rem;
        };
        .text {
            @include textShadow;
            color: $color-primary;
            @include mqSm {
                color: #535353;
            };
            .highlight {
                color: $color-primary;
            }
        }
    }
    .is_pc {
        display: inline;
        @include mqSm {
            display: none;
        };
    }
    .is_sp {
        @include mqSm {
            display: inline;
        };
    }
    &_title_price {
        margin-top: -6rem;
        text-align: center;
        li {
            padding-top: 3.2rem;
        }
    }
    .txt_note {
        padding: 1rem 0 3.5rem;
        font-size: 1.3rem;
        color: #e52f6b;
        @include textShadow;
    }
    .btn {
        padding-top: 8rem;
        @include mqSm {
            padding-top: 3rem;
        };
    }
}
/*  local_03
------------------------------------*/
.local_03 {
    background: #fefae8;
    padding: 8.3rem 0 7rem;
    @include mqSm {
        padding: 4rem 0 5.4rem;
    };
    .title_h2 {
        text-align: center;
        padding-bottom: 6.5rem;
        @include mqSm {
            padding-bottom: 4rem;
        };
    }
    &_items {
        position: relative;
        margin-bottom: 6.8rem;
        .title_h3 {
            padding-bottom: 3rem;
        }
        .thumb_img {
            position: absolute;
            top: 0;
            @include mqSm {
                position: relative;
            };
            ul {
                justify-content: space-between;
                li {
                    width: calc((100% / 3) - 1rem);
                    &:nth-child(-n+3) {
                        margin-bottom: 1.5rem;
                    }
                }
            }
        }
        .content {
            padding-left: 2rem;
            text-align: center;
            width: 100%;
            max-width: 45.5rem;
            .text {
                font-size: 1.8rem;
                color: #535353;
                @include mqSm {
                    font-size: 2.3rem;
                    padding: 2rem 2.8rem 0;
                };
            }
        }
        &.odd {
            justify-content: flex-end;
            min-height: 34.2rem;
            @include mqMd {
                min-height: 31.5rem;
            };
            @include mqSm {
                min-height: auto;
            };
            .thumb_img {
                max-width: 52.5rem;
                left: 0;
                @include mqMd {
                    max-width: 48.5rem;
                };
                @include mqSm {
                    position: relative;
                    max-width: 100%;
                    padding: 0 2.8rem;
                };
            }
            .content {
                padding-top: 3.7rem;
                max-width: 43.5rem;
                @include mqMd {
                    max-width: 40rem;
                };
                @include mqSm {
                    padding: 0;
                };
            }
        }
        &.last {
            .content {
                padding-top: 2.2rem;
            }
        }
        &.even {
            min-height: 31.3rem;
            @include mqMd {
                min-height: 29.4rem;
            };
            @include mqSm {
                min-height: auto;
            };
            .thumb_img {
                right: 0;
                width: 52.8%;
                max-width: 50.8rem;
            }
            .content {
                padding-top: 4.5rem;
                width: 47.2%;
                padding-right: 2rem;
                @include mqSm {
                    padding: 0;
                };
            }
        }
        @include mqSm {
            .thumb_img {
                max-width: 100%!important;
                width: 100%!important;
                text-align: center;
            }
            .content {
                margin-top: 1rem;
                max-width: 100%!important;
                width: 100%!important;
            }
        };
    }
    .btn {
        margin-top: 6.3rem;
    }
}
/*  local_05
------------------------------------*/
.local_04 {
    padding: 7rem 0 1rem;
    .title_h2 {
        font-weight: bold;
        text-align: center;
        &.first {
            text-align: center;
            color: $color-primary;
            padding-bottom: 2rem;
            font-size: 3.5rem;
            @include mqSm {
                font-size: 3rem;
            };
        }
    }
    &_listCircle {
        justify-content: center;
        align-items: center;
        padding-bottom: 6rem;
        @include mqSm {
            padding-bottom: 0;
        };
    }
    &_itemsCircle {
        position: relative;
        width: 33.3%;
        padding: 0 3.45rem;
        @include mqSm {
            padding: 0;
        };
        &:first-child, &:nth-child(2), &:nth-child(4) {
            &:after {
                content: "";
                background: url('../images/arrow_right_circle.png') no-repeat;
                background-size: contain;
                position: absolute;
                top: 26%;
                right: -2rem;
                width: 4.3rem;
                height: 4.2rem;
                @include mqSm {
                    transform: rotate(90deg);
                    top: inherit;
                    left: 21%;
                    right: 0;
                    bottom: 5%;
                    text-align: center;
                    width: 3.6rem;
                };
            }
        }
        &:nth-child(3){
            @include mqSm {
                &:after {
                    content: "";
                    background: url('../images/arrow_right_circle.png') no-repeat;
                    background-size: contain;
                    position: absolute;
                    transform: rotate(90deg);
                    left: 21%;
                    right: 0;
                    bottom: 5%;
                    text-align: center;
                    width: 3.6rem;
                    height: 4.2rem;
                }
            }
        }
        &:nth-last-child(-n+2) {
            margin-top: -1rem;
            @include mqSm {
                margin-top: 0;
            };
        }
        @include mqMd1 {
            width: 29rem;
        }
        @include mqSm {
            width: 100%;
            text-align: center;
            padding-bottom: 5rem;
            &:not(:last-child) {
                padding-bottom: 7.3rem;
            }
        };
    }
    .btn {
        padding-top: 4.2rem;
    }
}
