/*------------------- Wraper -------------------*/
.wrapper {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}
html {
    @include mqMd {
        font-size: 1.041vw;
    };
    @include mqSm {
        font-size: 1.5625vw;
    };
}
.clearfix {
    @extend %clearfix;
}
.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    @include mqMd {
        padding: 0 2.5rem;
    };
    @include mqSm {
        padding: 0 3rem;
    };
}

/*------------------- Component -------------------*/
.title_h2 {
    letter-spacing: -1px;
    font-size: 4rem;
    line-height: 1.4;
    // font-weight: bold;
    color: #535353;
    // text-align: center;
    span {
        font-size: 2.8rem;
    }
    @include mqSm {
        font-size: 4.2rem;
        span {
            font-size: 3.2rem;
        }
    };
}
.text {
    font-weight: bold;
    color: $color-primary;
    font-size: 1.8rem;
    text-align: center;
    line-height: 1.8;
    @include mqSm {
        // font-size: 2.4rem;
    };
    .highlight {
        font-size: 2.3rem;
    }
}
.btn {
    width: 51.4rem;
    margin: 0 auto;
    text-align: center;
    @include mqSm {
        width: 100%;
    };
}

/*------------------- List -------------------*/
.listItems {
    display: flex;
    flex-wrap: wrap;
}
