body {
    font-family: $font-body;
    color: $color-o;
    font-size: 1.4 + rem;
}
* {
    box-sizing: border-box;
    &:before,
    &:after {
        box-sizing: border-box;
    }
}
a {
    color: inherit;
    text-decoration: none;
    &:hover {
        color: $color-primary;
        text-decoration: none;
        img {
            // transition: all 400ms;
            opacity: 0.8;
        }
    }
    &:focus {
        color: $color-primary;
        text-decoration: none;
    }
}
p, h1, h2, h3, h4, h5, h5, h6 {
    // font-family: $font-heading;
    line-height: $line-height-default;
}
img {
    // transition: all 400ms;
    max-width: 100%;
    vertical-align: middle;
}
li, ol {
    list-style: none;
}
button, input, a {
    &:focus {
        outline: none;
    }
}
