// **********************************
//   font-family
// **********************************
// $font-body: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Hiragino Sans, 'ヒラギノ角ゴ ProN W3', Hiragino Kaku Gothic ProN, '游ゴシック  Medium', meiryo, sans-serif;
$font-body: "Roboto Slab", Garamond, "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", meiryo, serif !important;
$font-heading: 'Hiragino Mincho ProN', 'Yu Mincho', serif;
$font-awesome: "FontAwesome";

$font-size: 1.4;
$font-size-sp: 1.3;

$line-height-default: 1.5;
// **********************************
//   COLOR
// **********************************
$color-primary: #e6437b;
$link-color: #0798e9;
$pink: #ffe6f3;

$color-a: #ffffff;
$color-b: #aaa;
$color-c: #aaa;
$color-d: #aaa;
$color-e: #aaa;
$color-o: #000;

// width Breadpoint
$widthLg: 1110;
$widthMd: 960;
$widthSm: 640;
// width Design
$widthDes: 640;


$ease-easeOut: cubic-bezier(0.24, 1, 0.32, 1);
$ease-easeInOut: cubic-bezier(0.745, 0.14, 0.265, 0.875);
$ease-easeBack: cubic-bezier(0.11, 1.03, 0.33, 1.14);

// **********************************
//   EXTENDS
// **********************************

%clearfix {
    &:after {
        content: "";
        clear: both;
        display: block;
        height: 0;
        visibility: hidden;
    }
}
